body {
	background: url(/assets/images/background-stripes.png) bottom left/100% auto no-repeat #151515 !important;
}
.mat-card {
	background: #4D4D4D !important;
}
.mat-card * {
	color: #fff;
}
.mat-card .mat-card-footer {
	border: 1px solid #4D4D4D !important;
}
.header-container {
	background: #132732 !important;
}
.header-container * {
	color: #fff;
}
.user-info:hover {
	background: #1E516D !important;
}
.ng-star-inserted {
	border: 0 !important;
}
.card {
	background: #151515 !important;
}
.enrolled .illustration, .available .illustration {
	background: #CFCFCF !important;
	border-color: #177FA9 !important;
	color: #177FA9 !important;
}
.enrolled .name, .available .name {
	background: #177FA9 !important;
}
.locked .illustration {
	background: #CFCFCF !important;
	border-color: #4D4D4D !important;
}
.locked .name {
	background-color: #4D4D4D !important;
}
.finished .illustration {
	border-color: #439C73 !important;
	background: #439C73 !important;
}
.finished .name {
	background-color: #439C73 !important;
}
